/* Day 4 Exercise
 *
 * This is an SCSS file.
 *
 * Your assignment is to use variables wherever you see fit to make this code
 * easier to maintain.
 *
 * In the end, compare it with the result from the /exercise-answer folder.
 * Good luck! */

//Variables
$text-font-family: Arial, sans-serif;
$baseline: 1.5em;
$base-color: #333;
$text-a-color: #CD746A;
$text-a-hover-color: #fff;
$base-line-height: 1.5;

$fixed-layout-width: 960px;
$fluid-layout-width: 85%;

body {
  font-family: $text-font-family;
  font-size: $baseline - 0.5;
  line-height: $base-line-height;
}

p {
  margin-bottom: $baseline;
  a {
    text-decoration: none;
    color: $text-a-color;
    &:hover {
      color: $text-a-hover-color;
      background-color: $base-color;
    }
  }
}

blockquote {
  font-family: serif;
  font-size: 150%;
  font-style: italic;
  padding: ($baseline *2) $baseline;
  margin: $baseline *2;
  cite {
    a {
      color: $base-color;

      &:hover {
        color: $text-a-color;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
    &:before {
      content: "- ";
    }
  }
}

.container {
  width: $fixed-layout-width;
  margin: 0 auto;
  .fluid-layout & {
    width: $fluid-layout-width;
  }
}
