// Day 1 Exercise
//
// The following code uses the SCSS syntax.
//
// Your assignment is to translate it into code that uses the Sass syntax.
// On at least two properties, use the alternative property syntax.
//
// In the end, compare it with the result from the /exercise-answer folder.
// Good luck!

$font-family: "Helvetica", Arial, sans-serif;
$color: #cccccc;
$baseline: 1em;
$space: 5%;

* { box-sizing: border-box; }

/* Body styles */
body {
    font-family: $font-family;
    color: $color;
}

    body p {
        color: darken($color, 27%);
        line-height: $baseline + 0.5;
    }

.container { clear: both; }

main {
    float: left;
    width: $space * 15;
}

#sidebar {
    float: right;
    margin-left: $space;
    width: $space *4;
}

/* Footer styles.
 *
 * These should be placed last. */
footer { margin-top: $baseline *2; padding: $baseline; }
